<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <!-- <script src="https://cdn.tutorialjinni.com/jquery-validate/1.19.3/jquery.validate.js"></script> -->
    <script src="jquary.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="about.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="contect.js"></script>
    <script src="contectcon.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
    <title>Apply for Instant Loan, Personal Loan, 0% Interest -Home Credit India</title>
    <style>
        li .btn-login {
            background: white;
            color: rgb(2, 2, 71);
        }

        li .btn-login:hover {
            background: darkorange;
            color: rgb(2, 2, 71);


        }

        f1-btn {
            color: rgb(2, 2, 71);
        }

        .f1-btn:hover {
            background: rgb(2, 2, 71);
            color: darkorange;
        }

        /* for Contect Page */

        .error {
            font-weight: 700;
            display: block;
            color: #f00;
            font-size: 14px;
            text-align: left;
            padding-left: 1rem;
        }

        .c1 {
            border: 1px solid red;
        }
    </style>
</head>
<body>

    <nav style="background:rgb(2,2,71);" class="" x-data="{navbaarOpen:false}">
        <div class="container mx-auto flex flex-wrap  py-2   px-4 lg:space-x-4 lg:w-auto xl:ml-[1rem] xl:mr-[1rem]">
            <a href=""
                class=" inline-flex p-2 text-white text-xl  font-bold uppercase tracking-wider || lg:text-2xl || xl:text-3xl ">Sultan
                Mobile </a>

            <button class="btn md:hidden lg:hidden inline-flex items-center ml-auto justify-center 
            border h-10 w-10 text-white rounded-md outline-none focus:outline-none "
                @click="navbaarOpen = !navbaarOpen">
                <svg xmlns="http://www.w3.org/2000/svg" class=" h-7 w-15  " fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>

            <div class=" w-full  lg:inline-flex lg:w-auto mt-2 lg:mt-0  lg:px-[8rem] lg:justify-center ||  xl:justify-center xl:items-center xl:px-[20rem] "
                :class="{'hidden':!navbaarOpen,'flex':navbaarOpen}">
                <ul
                    class=" flex-col w-full lg:w-auto flex items-center lg:flex-row space-y-2 lg:space-y-0 lg:space-x-2 ||  ">
                    <li class="  ">
                        <a href="home"
                            class="flex px-4 py-2 hover:border-b hover:border-b-amber-500 hover:text-amber-500   font-medium rounded-md  justify-center text-white  || lg:text-lg || xl:text-xl  ">Home</a>
                    </li>
                    <li>
                        <a href="about"
                            class="flex px-4 py-2 hover:border-b hover:border-b-amber-500 hover:text-amber-500   font-medium rounded-md  justify-center text-white  || lg:text-lg || xl:text-xl  ">About</a>
                    </li>
                    <li>
                        <a href="contect"
                            class="flex px-4 py-2 hover:border-b hover:border-b-amber-500 hover:text-amber-500   font-medium rounded-md  justify-center text-white  || lg:text-lg || xl:text-xl  ">Contact</a>
                    </li>
                    <li>
                        <a href="login"
                            class=" btn-login relative bg-amber-500 rounded-md   inline-block px-28 py-1 font-bold group|| md:relative md:inline-block md:px-8 md:py-2 md:font-medium md:text-2xl md:group||
                             xl:relative xl:inline-block xl:px-4 ml-2 xl:py-1 xl:font-bold xl:text-2xl xl:group">Login</a>

                    </li>

                </ul>
            </div>

        </div>



    </nav>

    <div
        class="box justify-center h-auto items-center content-center rounded-md p-[2rem] pt-[2rem]  ||  md:p-[1rem] md:pt-6  md:bg-white    md:absolute md:transform md:translate-x-[12%] md:translate-y-[8%]   md:mr-[10rem]   || lg:flex lg:mt-[4rem]  lg:absolute lg:transform lg:translate-x-[9%] lg:translate-y-[8%] lg:bg-white lg:space-x-2  lg:p-[2rem] lg:shadow-none   || xl:flex xl:mt-0  xl:absolute xl:transform xl:translate-x-[6%] xl:translate-y-[8%] xl:space-x-2  xl:p-0 xl:pl-[1rem] xl:shadow-none  ">


        <div
            class="left    rounded-md  || sm:pt-0 || md:w-full md:shadow-none     ||lg:w-full lg:p-[5rem]  lg:pt-[2rem] || xl:w-full  xl:p-[5rem] xl:pt-0">
            <div class="p-[1rem] text-center justify-center items-center || md:p-0 xl:p-0 ">
                <h1 style="color:rgb(2,2,71);"
                    class="text-white font-serif font-extrabold text-3xl ||  md:py-2 md:text-4xl ||  lg:text-5xl lg:py-2 || xl:text-6xl ">
                    Contect Information</h1>

                <h2 style="color:rgb(2,2,71);" class=" text-sm text-white py-1  || xl:py-3 xl:text-base ">
                    Lorem ipsum
                    dolor, sit amet
                    consecteturadipisicingelit. Quod porro asperiores
                    maiores magnam aliquid mollitia hic</h2>

                <p style="color:rgb(2,2,71);" class="text-sm text-white py-1  || xl:py-3">Call Us :
                    7600199352</p>

                <p style="color:rgb(2,2,71);" class="text-sm text-white  || xl:py-0">We are open from
                    Monday - Sunday</p>
                <span class="text-sm text-white  ||  ">8.00am - 5.00pm </span>

                <div
                    class="social text-white flex items-center justify-center space-x-5 pt-3 py-3 || md:py-2 || xl:px-[1rem] xl:flex xl:w-full   ">
                    <h1
                        class=" text-amber-500 font-serif font-extrabold md:text-xl  lg:text-2xl  ||     xl:text-3xl xl:px-2 ">
                        Follow Us
                    </h1>


                    <div class=" w-7 xl:w-10 text-center cursor-pointer  ">


                        <!-- <i style="color: #3b5998;"
                        class="fab fa-facebook text-sm text-white hover:scale-125 duration-300 || md:text-blue-900 md:text-2xl ||  lg:text-3xl || xl:text-4xl"></i> -->
                        <a href=""><img src="fb.png" alt="" class="hover:scale-125 duration-150 "></a>
                    </div>
                    <div class=" w-7 xl:w-10 text-center cursor-pointer  xl:block">
                        <!-- <i
                        class="fab fa-instagram text-sm text-white hover:scale-125 duration-300 || md:text-blue-900 md:text-2xl || lg:text-blue-900 lg:text-3xl || xl:text-4xl"></i> -->
                        <a href=""><img src="insta.png" alt="" class="hover:scale-125 duration-150 "></a>

                    </div>
                    <div class=" w-7 xl:w-10  text-center cursor-pointer  xl:block">
                        <!-- <i
                        class="fab fa-twitter text-sm text-white hover:scale-125 duration-300 || md:text-blue-900 md:text-2xl  || lg:text-blue-900 lg:text-3xl || xl:text-4xl"></i> -->
                        <a href="" class="  "><img src="twit.png" alt="" class="hover:scale-125 duration-150 "></a>

                    </div>

                </div>



            </div>

        </div>



        <div class="right    pt-[1rem] ||  md:w-full md:pt-[2rem]  || ||lg:p-[2rem] lg:w-full || xl:p-[2rem] xl:w-full">
            <div class=" text-center pt-0 py-2 || md:w-full  ||lg:w-full  || xl:w-full">
                <h1 class=" text-amber-500 text-lg font-semibold py-1 || md:text-lg   || lg:text-xl || xl:text-2xl ">
                    Let us
                    Know more about
                    You !</h1>



                <form action="/contact" class="   || md:p-0 md:py-1 || xl:py-2" id="formvalidation" method="post">

                    <div class="form control">
                        <div class="form-group py-1">
                            <input type="text"
                                class="    px-3 w-full  py-1 font-semibold rounded-md  border-2  ||   md:text-sm || lg:text-base || xl:py-2 xl:text-lg   "
                                name="fname" id="fname" placeholder="Full Name">
                            <span class="error-form" id="fname-error"></span>
                        </div>



                        <div class="form-group py-1">
                            <input type="number"
                                class="    px-3 w-full  py-1 font-semibold rounded-md border-2 ||  md:text-sm     || lg:text-base  || xl:py-2 xl:text-lg    "
                                name="number" id="number" placeholder="Mobile Number">
                            <span class="error-form" id="number-error"></span>

                        </div>

                        <div class="form-group py-1">
                            <input type="email"
                                class="    px-3 w-full  py-1 font-semibold rounded-md border-2 ||  md:text-sm     || lg:text-base  || xl:py-2 xl:text-lg   "
                                name="email" id="email" placeholder="Email">
                            <span class="error-form" id="email-error"></span>

                        </div>

                        <!-- <div class="form-group py-1">
                            <input type="password"
                                class="    px-3 w-full  py-1 font-semibold rounded-md border-2 ||  md:text-sm   || lg:text-base  || xl:py-2 xl:text-lg    "
                                name="password" id="password" placeholder="password">
                            <span class="error-form" id="password-error"></span>

                        </div>

                        <div class="form-group py-1">
                            <input type="password"
                                class="    px-3 w-full  py-1 font-semibold rounded-md border-2 ||  md:text-sm   || lg:text-base  || xl:py-2 xl:text-lg    "
                                name="cpassword" id="cpassword" placeholder="Comform password">
                            <span class="error-form" id="password-error"></span>

                        </div> -->

                        <div class="form-group py-1">
                            <textarea name="message"
                                class="      px-3 w-full  py-1 font-semibold rounded-md border-2 ||  md:text-sm      ||  lg:text-base ||xl:py-2 xl:px-2 xl:text-lg"
                                id="Message" placeholder="Massage" required>
                            </textarea>
                        </div>
                        <div class=" py-3 lg:py-3 xl:px-0 ">
                            <input type="Submit"
                                class=" f1-btn font-bold border-2 bg-amber-500 cursor-pointer relative px-8  xl:px-20 py-[8px] rounded-full hover:border-2 text-lg"
                                placeholder="Submit">
                        </div>
                    </div>



                </form>
            </div>
        </div>



    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script src="https://https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js
    "></script>

   
</body>

</html>
    







